In [1]:
import pandas as pd
import sqlalchemy

In [2]:
database_connection_string = 'sqlite:///'

In [6]:
engine = sqlalchemy.create_engine(database_connection_string)
engine

Engine(sqlite:///)

In [7]:
stocks_df = pd.DataFrame({'MSFT' : [5,6], 'TSLA':[7,8]})
stocks_df

   MSFT  TSLA
0     5     7
1     6     8